// Do not use this file directly. Create css with:
// npx sass --load-path=node_modules src/styles/_carbon.scss src/styles/carbon-g90.css
$feature-flags: (
  grid-columns-16: true,
);
@import "@carbon/themes/scss/themes";

// Use the gray 90 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

@import "carbon-components/scss/globals/scss/styles";

#app > .cv-grid {
  margin-left: 3rem;
  margin-top: 4rem;
}
